@model IEnumerable<Kutuphane.ENT.ViewModel.KitaplarViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <td>Çocuk Kalbi</td>
        </tr>
        <tr>
            <td>
                Sefillerr
            </td>
        </tr>
        <tr>
            <td>Çocuk Kalbi</td>
        </tr>
        <tr>
            <td>
                Sefillerr
            </td>
        </tr>
        <tr>
            <td>Çocuk Kalbi</td>
        </tr>
        <tr>
            <td>
                Sefillerr
            </td>
        </tr>
        <tr>
            <td>Çocuk Kalbi</td>
        </tr>
        <tr>
            <td>Çocuk Kalbi</td>
        </tr>
        <tr>
            <td>
                Sefillerr
            </td>
        
        
        
        
        
        
        <tr>
            <td>Çocuk Kalbi</td>
        </tr>
        <tr>
            <td>
                Sefillerr
            </td>
        </tr>
        <tr>
            <td>Çocuk Kalbi</td>
        </tr>
        <tr>
            <td>
                Sefillerr
            </td>
        </tr>
        <tr>
            <td>Çocuk Kalbi</td>
        </tr>
        <tr>
            <td>
                Sefillerr
            </td>
        </tr>
        <tr>
            <td>Çocuk Kalbi</td>
        </tr>
        <tr>
            <td>
                Sefillerr
            </td>
        </tr>
        <tr>
            <td>Çocuk Kalbi</td>
        </tr>
        <tr>
            <td>
                Sefillerr
            </td>
        </tr>
        <tr>
            <td>Çocuk Kalbi</td>
        </tr>
        <tr>
            <td>
                Sefillerr
            </td>
        </tr>
        <tr>
            <td>Çocuk Kalbi</td>
        </tr>
        <tr>
            <td>
                Sefillerr
            </td>
        </tr>
        <tr>
            <td>Çocuk Kalbi</td>
        </tr>
        <tr>
            <td>
                Sefillerr
            </td>
        </tr>
        <tr>
            <td>Çocuk Kalbi</td>
        </tr>
        <tr>
            <td>
                Sefillerr
            </td>
        </tr>
        <tr>
            <td>Çocuk Kalbi</td>
        </tr>
        <tr>
            <td>
                Sefillerr
            </td>
        </tr>
        <tr>
            <td>Çocuk Kalbi</td>
        </tr>
        <tr>
            <td>
                Sefillerr
            </td>
        </tr>
        </tr>
    </table>
</body>
</html>
